<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Category</th>
        <th scope="col" *ngIf="authService.areActionsAvailable(['ROLE_SUPER_ADMIN'])">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of itemList; track $index) {
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.stock}}</td>
        <td [id]="item.category?.id">{{item.category?.name}}</td>
        <td *ngIf="authService.areActionsAvailable(['ROLE_SUPER_ADMIN'])">
          <button type="button" (click)="showDetailModal(item, detailModal)" class="btn btn-secondary">
            <i class="fa-solid fa-eye white"></i>
          </button>
          <button type="button" (click)="deleteProduct(item)" class="btn btn-danger">
            <i class="fa-solid fa-trash white"></i>
          </button>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>

<app-modal #detailModal>
  <app-products-form
    (callParentEvent)="onFormEventCalled($event)"
    [title]="'Update Product'"
    [toUpdateProduct]="selectedItem"
  ></app-products-form>
</app-modal>
